.full-viewport {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180vh;
    padding: 10rem 2rem;
}

@keyframes fadeIn{
    0%{
      opacity: 0;
      margin-top: -1rem;
    }
    100%{
      opacity: 1;
      margin-top: 0rem;
    }
}

@keyframes fadeUp{
    0%{
      opacity: 0;
      margin-top: 2rem;
    }
    100%{
      opacity: 1;
      margin-top: 0rem;
    }
  }



#homepage-bg {
    height: 100vh;
    background-color: #F6F6F6;
    z-index: -5;
}

.homepage-container {
    display: flex;
    margin: 0rem auto;
    align-items: center;

}

#id-gif {
    width: auto;
    height: 4.5rem;
}

.homepage-typography {
    color: #F88C99;
    font-size: 10rem;
    display: inline;
    margin: 0rem;

}

#homepage-name {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 10rem);
    grid-template-areas:
        "s a l-1 l-2 y"
        "p o-1 o-2 n none";
    margin-right: 2rem;
    align-items: center;

}

#s {
    animation: fadeIn 1s ease;
    grid-area: s;
}

#a {
    animation: fadeIn 1.5s ease;
    grid-area: a;
}

#l-1 {
    animation: fadeIn 2s ease;
    grid-area: l-1;
}

#l-2 {
    animation: fadeIn 2.5s ease;
    grid-area: l-2;
}

#y {
    animation: fadeIn 3s ease;
    grid-area: y;
}

#p {
    animation: fadeIn 3s ease;
    grid-area: p;
}

#o-1 {
    animation: fadeIn 3.5s ease;
    grid-area: o-1;
}

#o-2 {
    animation: fadeIn 4s ease;
    grid-area: o-2;
}

#n {
    animation: fadeIn 4.5s ease;
    grid-area: n;
}

#homepage-bg ul,
#connect ul {
    list-style-type: none;
    display: inline;
    padding-left: 0rem;
}

#homepage-bg li {
    font-size: 5rem;
}

#homepage-bg a {
    color: #056A4C;
    text-decoration: none;
}

#homepage-bg a:hover {
    color: #F88C99;
    font-weight: bold;
}

#homepage-nav {
    animation: fadeUp 5s ease;
    width: 13rem;
}

#about {
    width: 70rem;    
}

#about-bg {
    background-color: #056A4C;
}

#about-text {
    width: 60%;
}

#about h1,
#about p,
#about li  
{
    color: #DEF7F3;
    margin-bottom: 1rem;
}

#about p,
#about li {
    font-size: 1.5rem;
}


#portrait {
    grid-area: portrait;
    width: 320px;
    height: 320px;
    margin: 7rem 1rem 0rem auto;
}


#about-bullets {
    margin-top: -2rem;
}

#connect {
    background-color: #F6F6F6;
    height: 100vh;
    flex-direction: column;
}

#connect h1 {
    bottom: -10px;
}

#connect li {
    margin-bottom: 1.5rem;
}

#connect-links-container {
    margin-top: 2rem;
}

#connect-links-container a {
    font-size: 1.5rem;
    color: #056A4C;
}

#connect-links-container a:hover {
    color: #F88C99;
}


#connect-links-container img {
    margin-right: 0.5rem;
}

@media (max-width: 800px) {

    .homepage-typography {
        font-size: 6rem;
    }

}


/* Animation code from https://paulund.co.uk/css-animation-link-underline */
a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f8ca84;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
  }