:root {
    --white: #F6F6F6;
    --accent: #00F9FF;
    --light: #B537F2;
    --solid: #8A2BE3;
    --dark: #120052;
}


.accented-text {
    text-shadow: -10px 10px var(--accent);
    color: var(--light);
}

#homepage-full-bg {
    background-image: url('../../config/assets/images/paper-3.png');
    background-color: var(--white);
}

.full-viewport {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180vh;
    padding: 10rem 2rem;
}

@keyframes fadeIn{
    0%{
      opacity: 0;
      margin-top: -1rem;
    }
    100%{
      opacity: 1;
      margin-top: 0rem;
    }
}

@keyframes fadeUp{
    0%{
      opacity: 0;
      margin-top: 2rem;
    }
    100%{
      opacity: 1;
      margin-top: 0rem;
    }
  }



#homepage-bg {
    background-image: url('../../config/assets/images/paper-3.png');
    background-color: var(--white);
    height: 100vh;
    z-index: -5;
}

.homepage-container {
    display: flex;
    margin: 0rem auto;
    align-items: center;

}

.homepage-typography {
    font-size: 10rem;
    display: inline;
    margin: 0rem;

}

#homepage-name {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 10rem);
    grid-template-areas:
        "s a l-1 l-2 y"
        "p o-1 o-2 n none";
    margin-right: 2rem;
    align-items: center;

}

#s {
    animation: fadeIn 1s ease;
    grid-area: s;
}

#a {
    animation: fadeIn 1.5s ease;
    grid-area: a;
}

#l-1 {
    animation: fadeIn 2s ease;
    grid-area: l-1;
}

#l-2 {
    animation: fadeIn 2.5s ease;
    grid-area: l-2;
}

#y {
    animation: fadeIn 3s ease;
    grid-area: y;
}

#p {
    animation: fadeIn 3s ease;
    grid-area: p;
}

#o-1 {
    animation: fadeIn 3.5s ease;
    grid-area: o-1;
}

#o-2 {
    animation: fadeIn 4s ease;
    grid-area: o-2;
}

#n {
    animation: fadeIn 4.5s ease;
    grid-area: n;
}

#homepage-bg ul,
#connect ul {
    list-style-type: none;
    display: inline;
    padding-left: 0rem;
}

#homepage-bg li {
    font-size: 5rem;
}

#homepage-bg a {
    color: var(--dark);
    text-decoration: none;
    opacity: 0.6;
}

#homepage-bg a:hover {
    opacity: 1;
    font-weight: bold;
}

#homepage-nav {
    animation: fadeUp 5s ease;
    width: 13rem;
}

/* ABOUT PAGE */

#about {
    width: 70rem;    
}

#about-bg {
    -webkit-clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 14%, 100% 0, 100% 86%, 0% 100%);
    background-color: var(--solid);
}

#about-text {
    width: 60%;
}

#about h1,
#about p,
#about li  
{
    color: var(--white);
    margin-bottom: 1rem;
}

#about p,
#about li {
    font-size: 1.5rem;
}

#id-gif {
    width: auto;
    height: 4.5rem;
    margin-left: -0.5rem;
}



#portrait {
    grid-area: portrait;
    width: 320px;
    height: 320px;
    margin: 7rem 1rem 0rem auto;
}


#about-bullets {
    margin: 4rem auto;

}


/* PROJECTS DIV */

#projects-head-container {
    display: flex;
    justify-content: flex-end;
}

.proj {
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-head {
    margin-left: auto;
    margin-bottom: 5rem;
    opacity: 0.8;
}

.proj-intro-container {
    width: 50rem;
}

.proj-head {
    color: var(--light);
    width: 30rem;
    font-weight: 200 ;
}

.proj-img {
    height: 25rem;
    width: 40rem;
    margin: 2rem 15rem 2rem 15rem;
    border: 5px solid var(--light);
}

.proj-img:hover {
    border: 5px solid var(--accent);
}

.proj-para {
    width: 30%;
    margin: 3rem 10rem;
}

.proj-para a {
    text-decoration: none;
    color: var(--solid);
}

.proj-descrip {
    font-size: 1.5rem;
    color: var(--dark);
    margin-bottom: 2rem;
}

.btn-outline-dark {
    color: var(--solid);
    border-color: var(--solid) !important;
}

.btn-outline-dark:hover {
    background-color: var(--solid);
}

#sprout-img {
    background-image: url('../../config/assets/images/sprout_mock.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* LET'S CONNECT DIV */

#connect {
    background-color: var(--white);
    height: 100vh;
    flex-direction: column;
}

#connect h1 {
    bottom: -10px;
}

#connect li {
    margin-bottom: 1.5rem;
}

#connect-links-container {
    margin-top: 2rem;
}

#connect-links-container a {
    font-size: 1.5rem;
    color: var(--light);
}

#connect-links-container a:hover {
    color: var(--accent);
}


#connect-links-container img {
    margin-right: 0.5rem;
}

@media (max-width: 800px) {

    .homepage-typography {
        font-size: 6rem;
    }

}


/* Animation code from https://paulund.co.uk/css-animation-link-underline */
a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
  }