.accordion-button {
    background-color: var(--white);
    font-size: large;
}

.accordion-button:not(.collapsed) {
    color: var(--dark);
    background-color: var(--light) !important;
    box-shadow: 0 0 0 0.25rem rgb(22, 138, 173 / 25%);
}